header.admin-header {
  width: 100%;
  height: 4rem;
  background-color: #2060be;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

header.admin-header .header-partial {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

header.admin-header .header-left .go-play {
  margin-left: 0.8rem;
  font-weight: 600;
  color: #222222;
  text-decoration: none;
}

header.admin-header .header-left .go-play:hover {
  text-decoration: underline;
}
