.admin {
  transition: 0.2s;
}

.admin-content-wrapper {
  width: 80vw;
  height: 100vh;
  float: right;
  transition: 0.1s;
}

.admin-content-wrapper.wrapper-expanded {
  width: 95vw;
}

.admin-content {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1rem;
}
