.login-container-mobile {
  display: none;
}

@media screen and (max-width: 650px) {
  .app {
    background-color: #87b3f5;
  }

  .login-container {
    display: none;
  }

  .login-container-mobile {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }

  .login-container-mobile h1 {
    color: #ffffff;
  }

  .login-container-mobile hr {
    width: 100%;
    margin-bottom: 0.67rem;
  }

  .login-container-mobile .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
