nav.admin-sidebar {
  height: 100vh;
  width: 20%;
  background-color: #87b3f5;
  position: fixed;
  margin: 0;
  text-align: left;
  transition: 0.1s;
}

nav.admin-sidebar.sidebar-thin {
  width: 5%;
}

nav.admin-sidebar .top-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav.admin-sidebar.sidebar-thin .top-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
}
